* {
    padding: 0px;
    margin: 0px;
}
form {
    display: block;
    height: 270px;
    width: 440px;
    background: rgb(41, 41, 41);
    margin: auto;
    color: white;
    position: relative;
}
.header {
    height: 30px;
    font-size: 20px;
    margin-left: 5px;
    border-bottom: 1px solid black;
    line-height: 30px;
}
.inputs {
    height: 60px;
    border-bottom: 1px solid black;
}
input {
    float: right;   
    margin-right: 150px;
    width: 175px;
    margin-top: 10px;
    height: 35px;
    background-color: rgb(31, 31, 31);
    border: 1px solid rgb(150, 150, 150);
    color: white;
}
.labels {
    float: left; 
    margin-top: 15px;
    text-align: right;
    width: 100px;
    font-size: 12px;
    color: white;
}
button {
    position: absolute;
    bottom: 15px;
    right: 25px;
    color: white;
    background-color: red;
    border: none;
    width: 100px;
    height: 20px;
}
